@{
    ViewBag.Title = "Brands";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage1.cshtml";
}

<h2>Brands</h2>
<button type="button" id="btnGetBrands">Get Brands</button>
<table class="table brandsTable">
    <tr>
        <th>Brand ID</th>
        <th>Brand Name</th>
    </tr>
</table>

@**************View Brand****************@

<div class="modal fade" id="ViewBrandModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View Brand</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td>Brand ID</td>
                        <td><span id="BrandIDSpan"></span></td>
                    </tr>
                    <tr>
                        <td>Brand Name</td>
                        <td><span id="BrandNameSpan"></span></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@**************Delete Brand****************@

<div class="modal fade" id="DeleteBrandModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Brand</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Are you sure to delete this Brand?</h5>
                <table class="table">
                    <tr>
                        <td>Brand ID</td>
                        <td><span id="BrandIDSpan2"></span></td>
                    </tr>
                    <tr>
                        <td>Brand Name</td>
                        <td><span id="BrandNameSpan2"></span></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnDelete">Delete</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@**************New Brand****************@

<div class="card">
    <div class="card-header">New Brand</div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="BrandID">Brand ID</label>
                <input type="text" class="form-control" placeholder="Brand ID" id="txtNewBrandID" />
            </div>
            <div class="form-group">
                <label for="BrandName">Brand Name</label>
                <input type="text" class="form-control" placeholder="Brand Name" id="txtNewBrandName" />
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button type="button" id="btnInsert" class="btn btn-success">Save</button>
        <button type="button" id="btnCancel" class="btn btn-danger">Cancel</button>
    </div>
</div>

@******************Update Brand********************@
<div class="card">
    <div class="card-header">Update Brand</div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="BrandID">Brand ID</label>
                <input type="text" class="form-control" placeholder="Brand ID" id="txtEditBrandID" disabled="disabled" />
            </div>
            <div class="form-group">
                <label for="BrandName">Brand Name</label>
                <input type="text" class="form-control" placeholder="Brand Name" id="txtEditBrandName" />
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button type="button" id="btnUpdate" class="btn btn-success">Save</button>
        <button type="button" id="btnCancel" class="btn btn-danger">Cancel</button>
    </div>
</div>

<script>
    //******************Get Brands(Get Req)************

    $("#btnGetBrands").click(() => {
        $.ajax({
            type: "GET", url: "/api/Brands", success: (response) => {
                for (var i = 0; i < response.length; i++) {
                    var br = response[i];
                    var str = "<tr><td>" + br.BrandID + "</td> <td>" + br.BrandName + "</td><td><button type='button' class='btn btn-info ViewBrandButton' data-brandid='" + br.BrandID + "'data-toggle='modal' data-target='#ViewBrandModel'>View</button><button type='button' class='btn btn-info EditBrandButton' data-brandid='" + br.BrandID + "'>Edit</button><button type='button' class='btn btn-info DeleteBrandButton' data-brandid='" + br.BrandID + "'data-toggle='modal' data-target='#DeleteBrandModel'>Delete</button></td></tr>";
                    $(".brandsTable").append(str);
                }
            },
            error: (err) => {
                alert(err);
                console.log(err);
            }
        });
    });

    //**************After Clicking View Button*****************

    $(document).on("click", ".ViewBrandButton", (event) => {
        var bid = $(event.target).attr("data-brandid");
        $.ajax({
            type: "GET", url: "/api/Brands?brandid=" + bid, success: (response) => {
                $("#BrandIDSpan").html(response.BrandID);
                $("#BrandNameSpan").html(response.BrandName);
            }, error: (err) => {
                alert(err);
                console.log(err);

            }
        });
    });

    //**************After Clicking Delete Button in Get Brands*****************

    var CurrentBrandIDToDelete; 
    var CurrentRowToDelete;
    $(document).on("click", ".DeleteBrandButton", (event) => {
        var bid = $(event.target).attr("data-brandid");
        CurrentRowToDelete = $(event.target).parent().parent();
        $.ajax({
            type: "GET", url: "/api/Brands?brandid=" + bid, success: (response) => {
                $("#BrandIDSpan2").html(response.BrandID);
                $("#BrandNameSpan2").html(response.BrandName);
                CurrentBrandIDToDelete = response.BrandID;
            }, error: (err) => {
                alert(err);
                console.log(err);
            }
        });
    });

    //******************Inserting New Brands(Insert Req)************

    $("#btnInsert").click(() => {
        var brandID = $("#txtNewBrandID").val();
        var brandName = $("#txtNewBrandName").val();
        $.ajax({
            type: "POST", url: "/api/Brands", data: { "brandid": brandID, "brandName": brandName }, success: (response) => {
                var recCount = $(".brandsTable tr").length;
                var str = "<tr><td>" + br.BrandID + "</td> <td>" + br.BrandName + "</td><td><button type='button' class='btn btn-info ViewBrandButton' data-brandid='" + br.BrandID + "'data-toggle = 'modal' data-target='#ViewBrandModel'> View</button> <button type='button' class='btn btn-info EditBrandButton' data-brandid='" + br.BrandID + "'>Edit</button></td></tr>";
                $(".brandsTable").append(str);
            }, error: (err) => {
                alert(err);
                console.log(err);
            }
        });
    });

    //******************After Clicking Edit Button from get Brands************

    var CurrentRow;
    $(document).on("click", ".EditBrandButton", (event) => {
        var bid = $(event.target).attr("data-brandid");
        CurrentRow = $(event.target).parent().parent();
        $.ajax({
            type: "GET", url: "/api/Brands?brandid=" + bid, success: (response) => {
                $("#txtEditBrandID").val(response.BrandID);
                $("#txtEditBrandName").val(response.BrandName);
            }, error: (err) => {
                alert(err);
                console.log(err);

            }
        });
    });


    //******************Updating Brands(update Req)************

    $("#btnUpdate").click(() => {
        var brandID = $("#txtEditBrandID").val();
        var brandName = $("#txtEditBrandName").val();
        $.ajax({
            type: "PUT", url: "/api/Brands", data: { "brandid": brandID, "brandName": brandName }, success: (response) => {
                CurrentRow.find("td:eq(0)").html(brandID);
                CurrentRow.find("td:eq(1)").html(brandName);
            }, error: (err) => {
                alert(err);
                console.log(err);
            }
        });
    });

    //******************Deleting Brands(Delete Req)************

    $("#btnDelete").click(() => {
        $.ajax({
            type: "DELETE", url: "/api/Brands?BrandId=" + CurrentBrandIDToDelete, success: (response) =>
            {
                CurrentRowToDelete.remove();
            }, error: (err) => {
                alert(err);
                console.log(err);
            }
        });
    });

</script>

