@model EFDbFirstApproachExample.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Delete</h2>
<form action="\products\delete\@Model.ProductID" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="ProductName">Product Name</label>
            <input type="hidden" name="ProductID" value=@Model.ProductID><br />
            @Model.ProductName
        </div>
        <div class="form-group col-md-6">
            <label for="Price">Price</label><br />
            @Model.Price
        </div>
        <p>Are you sure want to delete the Product?</p>
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="/products/index/" class="btn btn-danger">Cancel</a>
</form>
